{
  "version": "0.2.0",
  "url": "https://github.com/yatmita/jidori-kun/releases/download/v0.2.0/jidori-kun_0.2.0_x64-setup.exe",
  "notes_url": "https://github.com/yatmita/jidori-kun/releases/tag/v0.2.0"
}
